<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="CurrencyExchangeService.CurrencyExchangeService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/CurrencyExchangeService/" />
          </baseAddresses>
        </host>
        <!-- TCP Binding Endpoint -->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" contract="CurrencyExchangeService.ICurrencyExchangeService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfig">
          <security mode="None" />
          <reliableSession enabled="false" />
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
